@import url('https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,500,600,700|Roboto:100,200,300,400,500,600,700');

/* ---------------------------- General Body */
body {
    font-family: "Roboto", sans-serif;
    background-color: #e97253B3;
    margin: 0;
    padding: 0;
    
}

p {
    font-family: "Open+Sans", sans-serif;
    display: block;
}

/* ---------------------------- General Headings */


/* ---------------------------- My a links */
a {
    color: #fafafa;
    text-decoration: none;
}

a:hover {
    color: #ffb757;
    text-decoration: none;
}

/* ---------------------------- My Colours */
.bg-color-1 { /* orange - #e97253 */
    background-color: #e97253;
}





/* ---------------------------- My Navbar */
.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
}

.navbar a {
    color: #fafafa;
}

.dropdown-menu {
    background-color: #e97253;
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar-brand {
    font-weight: bold;
}


/* ---------------------------- Buttons, took inspirtation from CodeInstitute Whiskey Drop tutorial */
.btn--cta {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
}

.btn--brand {
    color: #fafafa;
    background-color: #ffb757;
    border-color: #ffb757;
}

.btn--brand:hover,
.btn--brand:active {
    background-color: #fafafa;
    border-color: #d24151;
    color: #d24151;
}

.btn--price {
    color: #fafafa;
    border-color: #d24151;
    background-color: #d24151;
}

.btn--price:hover,
.btn--price:active {
    color: #d24151;
    border-color: #ffb757;
    background-color: #ffb757;
}

/* ---------------------------- General Paddings, Margins & Text*/
.uppercase {
    text-transform: uppercase;
}

/* ---------------------------- Lines & Dividers */
.line-divider {
    width: 80%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.25);
    border: 0;
}

.line-divider--yellow {
    width: 80%;
    height: 1px;
    background-color: #ffb757;
    border: 0;
}

/* ---------------------------- My Hero section */
.myhero-container {
    height: 100vh; /*this little bit of code copied from https://css-tricks.com/perfect-full-page-background-image/ */
    
    background: url("../images/oranges-1.jpg") no-repeat bottom center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.jumbotron {
    background-color: #ffb757B3;
    text-align: center;
}

.jumbotron-header {
    color: #Fafafa;
}

/* ---------------------------- My Benefits section */
.benefit {
    text-align: center;
    margin-bottom: 40px;
}

.benefit i {
    margin-bottom: 20px;
    font-size: 45px;
    line-height: 45px;
}

.benefits-wrapper--brand {
    background-color: #d24151;
    color: #fafafa;
} 

/* ---------------------------- Containers */
.content-container {
    padding-top: 75px;
    padding-bottom: 75px;
}

/*--------------------------------------------------- Footer */
footer {
    min-height:120px;
    width: 100%;
    margin: 0;
    color: #fafafa;
}

footer p {
    margin: 10px;
    padding: 10px;
    display: block;
}

.footer-header {
    margin: 10px;
    padding: 10px;
}

.footer-row-pad {
    padding: 10px;
}

#my-footer-wrap {
    margin-top: 0;
    padding-top: 20px;
}

.footer-lists {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/*--------------------------------------------------- Product Gallery */
/*styling bellow inspired by CodeInstitute - Love Running Mini Project */
#photo-gallery {
  clear: both;
  line-height: 0px;
  column-count: 3;
  column-gap: 0px;
}

#photo-gallery img {
  width: 100%;
}

/*--------------------------------------------------- Media Queries */
@media screen and (max-width: 900px) {

 #photo-gallery {
    column-count: 2;
  }
}
@media screen and (max-width: 700px) {

  #photo-gallery {
    column-count: 1;
  }
}

/*--------------------------------------------------- Signup */

.pricing-header {
    text-align: center;
    font-family: "roboto", sans-serif;
    margin: 0;
    padding: 10px;
}

.card-header {
    background-color: #ffb75780;
    padding: 15px;
}

.pricing-content {
    font-family: "open+sans", sans-serif;
}