@import url('https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,500,600,700|Roboto:100,200,300,400,500,600,700');

body {
    font-family: "Roboto", sans-serif;
    background-color: #ffab91;
    color: #fff;
}

/* ---------------------------- My Colours */
.bg-color-mynav {
    background-color: #c97b63;
}

.bg-color-myfooter {
    background-color: #ffddc1;
}

/* ---------------------------- My Navbar */
.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar-brand {
    font-weight: bold;
}


/* ---------------------------- Buttons */
.btn--cta {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
}

.btn--brand {
    color: black;
    background-color: #fff59d;
    border-color: #fff59d;
}

.btn--red:hover,
.btn--red:active,
.btn--red:focus,
.btn--red:active:focus {
    background-color: #df4929;
    border-color: #df4929;
}

/* ---------------------------- General Paddings, Margins & Text*/
.uppercase {
    text-transform: uppercase;
}

/*--------------------------------------------------- Footer */
footer {
    color: black;
    min-height:120px;
    margin: 0;
}

#my-footer-wrap {
    margin-top: 20px;
    padding-top: 20px;
}

.footer-lists {
    list-style-type: none;
}

.footer-lists a {
    color: black;
    text-decoration: none;
}