@import url('https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,500,600,700|Roboto:100,200,300,400,500,600,700');

/* ---------------------------- General Body */
body {
    font-family: "Roboto", sans-serif;
    background-color: ;
    
}

/* ---------------------------- My a links */
a {
    color: black;
    text-decoration: none;
}

/* ---------------------------- My Colours */
.bg-color-1 { /* primary colour */
    background-color: #ff82b4;
}

.bg-color-1a { /*primary colour - light */
    background-color: #ffb4e6;
}

.bg-color-1b { /*primary colour - dark */
    background-color: #c95184;
}

.bg-color-2 { /*secondary colour */
    background-color: #cfddff;
}

.bg-color-2a { /*seconday colour - light */
    background-color: #fff;
}

.bg-color-2b { /*secondary colour - dark */
    background-color: #9eabcc;
}


/* ---------------------------- My Navbar */
.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
}

.navbar a {
    color: #fff;
}

.dropdown-menu {
    background-color: #ffb4e6;
}

.dropdown-menu a {
    color: black;
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar-toggler-icon {
    color: #9eabcc;
}

.navbar-brand {
    font-weight: bold;
}


/* ---------------------------- Buttons, took inspirtation from CodeInstitute Whiskey Drop tutorial */
.btn--cta {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
}

.btn--brand {
    color: #FFF;
    background-color: #9eabcc;
    border-color: #9eabcc;
}

.btn--brand:hover,
.btn--brand:active,
.btn--brand:focus,
.btn--brand:active:focus {
    background-color: #FFF;;
    border-color: #FFF;;
    color: #9eabcc;
}

/* ---------------------------- General Paddings, Margins & Text*/
.uppercase {
    text-transform: uppercase;
}

/* ---------------------------- Lines & Dividers */


/* ---------------------------- My Hero section */
.myhero-container {
    height: 100vh; /*this little bit of code copied from https://css-tricks.com/perfect-full-page-background-image/ */
    
    background: url("../images/oranges-1.jpg") no-repeat bottom right fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

/* ---------------------------- My Benefits section */
.benefit {
    text-align: center;
    margin-bottom: 40px;
}

.benefit i {
    margin-bottom: 20px;
    font-size: 45px;
    line-height: 45px;
}

.benefits-wrapper--brand {
    background-color: #f05f40;
    color: white;
} 

/* ---------------------------- Containers */
.content-container {
    padding-top: 75px;
    padding-bottom: 75px;
}

/*--------------------------------------------------- Footer */
footer {
    min-height:120px;
    width: 100%;
    margin: 0;
}

#my-footer-wrap {
    margin-top: 20px;
    padding-top: 20px;
}

.footer-lists {
    list-style-type: none;
    padding: 0;
    margin: 0;
}



